* {
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
    font-family: 'Roboto', serif;
    background: #d6d6d6;
    --nav-text-color: rgb(230,230,230);
    --nav-hover-color: rgba(230,230,230,0.8);
    --nav-color: rgb(1, 2, 2);
    --nav-small-color: rgb(7, 14, 14);
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #aaaaaa);
    border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #21b2df);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
}

body {
    height: 100vh;
    overflow-x: hidden;
}

/*-------------- Navbar below --------------*/

#nav-bar {
    background: var(--nav-color);
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    user-select: none;
}

.img-div {
    display: inline-block;
}

#header-img {
    max-height: 10vh;
    width: auto;
}

.navbar-ul {
    float: right;
    margin-right: 3vw;
}

.navbar-ul li {
    display: inline-block;
    line-height: 10vh;
}

.nav-link {
    color: var(--nav-text-color);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 400ms ease;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.2rem;
}

.nav-link:hover, .nav-link:focus {
    color: var(--nav-hover-color);
    border-bottom: 3px solid rgb(214, 214, 23);
}

@media only screen and (max-width: 760px){
    #nav-bar {
        display: flex;
        flex-wrap: wrap;
    }

    .navbar-ul {
        margin: auto;
        margin-top: -0.3rem;
        width: 100%;
        background: var(--nav-small-color);
        display: flex;
        justify-content: center;
    }

    .navbar-ul li{
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        width: fit-content;
    }

    .navbar-ul li:last-child {
        display: none;
    }

    .navbar-ul li:nth-child(4){
        display: none;
    }

    .img-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .nav-link {
        font-size: 13px;
        padding-left: 0.2em;
        padding-right: 0.2em;
    }
}

/*-------------- Navbar above --------------*/

.grid-container {
    display: grid;
    grid-template-rows: auto;
    height:fit-content;
    width: 100vw;
    margin-top: 10vh;
    margin-left: 50%;
    transform: translateX(-50%);
    background: white;
}

/*--------------- Grid 1 ---------------*/
#grid1 {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    max-height: fit-content;
    background: transparent;
    grid-row: 1;
    background-image: url(https://res.cloudinary.com/dd07dy9m5/image/upload/c_scale,h_720,w_1366/v1623911000/MS-Specs-Hero-Desktop_ekjc85.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit:fill;

}

#featured {
    background: transparent;
    position: absolute;
    margin-top: -500px;
}

.grid-wrapper-1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
}

#tesla-s-img {
    display: none ;
    position: absolute;
    max-width: 100vw;
    height: auto;

}

#tesla-s-title {
    color: white;
    font-family: 'Open Sans', serif;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3rem;
    height: fit-content;
    font-weight: 600;
    grid-column: 1;
    user-select: none;
}

#brand-tesla {
    font-size: 1rem;
    font-weight: 400;
    user-select: none;
}

.motto-s {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    color: white;
    height: fit-content;
    grid-row: 5;
    grid-column: 1;
    font-size: 18px;
    font-weight: 550;
    user-select: none;
}

/*-------------- Button Transition Below --------------*/

.order-s {
    grid-column: 2;
    width: fit-content;
}

.order-s a {
    position: relative;
    text-decoration: none;
    color: rgb(221, 221, 221);
    font-family: 'Roboto', serif;
    padding: 0.8em;
    margin-top: -0.8em;
    display: inline-block;
    transition: 1s ease;
    overflow: hidden;
}

.order-s a:hover {
    color: #ffffff;
    background: #135285 ;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

.order-s a span {
    position: absolute;
    display: block;
}

.order-s a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.order-s a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.order-s a span:nth-child(2) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.order-s a:hover span:nth-child(2) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.order-s a span:nth-child(3) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.order-s a:hover span:nth-child(3) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s
}

.order-s a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.order-s a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/*-------------- Button Transition Above --------------*/

/*-------------- Grid2 Below --------------*/

#grid2 {
    grid-row: 2;
    width: auto;
    height: 100vh;
    background: silver;
    background-image: url(https://res.cloudinary.com/dd07dy9m5/image/upload/c_fit,h_768,w_1392/v1623924890/screen-shot-2020-02-18-at-3.41.19-pm-2_k6n4fk.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 1.8rem;
    font-weight: 1000;
}

.g2-r1c1, .g2-r1c2, .g2-r1c3, .g2-r1c4 {
    text-align: center;
    margin-top: 2.5em;
    user-select: none;
}

.g2-spec-info {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/*-------------- Grid2 Above --------------*/

/*-------------- Grid3 Below --------------*/

#grid3 {
    grid-row: 3;
    max-width: auto;
    height: 90vh;
    background: rgb(22, 22, 22);
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    font-size: 1.8rem;
    font-weight: 1000;
}

#variant {
    background: transparent;
    position: relative;
    margin-top: -10%;
}

#vid-container {
    display: flex;
    flex-direction: column;
    background: rgb(22, 22, 22);
    height: 100%;
    margin-bottom: 10rem;
}

.vid-title {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    height: fit-content;
}

.vid-title p {
    font-weight: 600;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgb(206, 206, 206);
    font-family: 'Open Sans', monospace;
    color: rgb(230, 230, 230);
    user-select: none;

}

#video-div {
    margin-top: 2rem;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#video {
    height: 18rem;
    width: 90%;
    max-width: 90%;
}

.pricing-container {
    display: grid;
    grid-column: 2/4;
    grid-row: 1/3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    background: rgb(230, 230, 230);
}

#pricing-long-range {
    display: flex;
    grid-row: 1;
    grid-column: 1;
}

#pricing-plaid {
    display: flex;
    grid-row: 1;
    grid-column: 2;
}

#long-range-spec, #plaid-spec {
    border: 2px solid black;
    width: 10em;
    height: 18rem;
    margin: auto;
    border: none;
    border-top: 1px solid black;
    color: #474747;
    user-select: none;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: 700;
    font-family: 'Open Sans', serif;
}

#long-range-spec:hover, #plaid-spec:hover {
    border: 2px solid black;
    color: black;
}

.spec-title {
    margin-top: 1rem;
    text-align: center;
}

.spec-info {
    margin: 1em;
    font-size: 0.95rem;
    font-weight: 500;
}

.spec-info-div {
    grid-row: 1;
    grid-column: 1/4;
}

.spec-1 {
    grid-row: 2;
    grid-column: 1/2;
}

.spec-2 {
    grid-row: 2;
    grid-column: 2/3;
}

.spec-3 {
    grid-row: 2;
    grid-column: 3/4;
}

.long-range-spec1, .long-range-spec2 {
    text-align: center;
    font-size: 24px;
    font-weight: 650;
}

.long-range-spec2 {
    font-size: 12px;
    font-weight: 400;
}


#email-div {
    grid-column: 1/3;
    grid-row: 2;
    margin: auto;
    width: 100%;
    font-size: 1.6rem;
    height: 100%;
    background: rgb(22, 22, 22);
    color: rgb(230, 230, 230);
}

.email-title-div {
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

.email-title {
    border-bottom: 1px solid silver;
    padding-bottom: 0.5rem;
    width: fit-content;
    padding-top: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    user-select: none;
}

#email {
    margin-top: 2em;
    margin-left: 25%;
    transform: translateX(-25%);
    width: 60%;
    height: 2rem;
    outline: none;
    border: transparent;
    background: rgba(46, 46, 46, 0.5);
    border-bottom: 1px solid black;
    text-indent: 1rem;
    font-size: 1rem;
    color: white;
    transition: 500ms;
}

#submit {
    margin-left: -10%;
    font-size: 16px;
    padding: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid rgb(230, 230, 230);
    color: rgb(230, 230, 230);
    transition: 1s ease;
    letter-spacing: 2px;
}

#submit:hover, #submit:focus {
    color: #ffffff;
    background: #135285 ;
    border: transparent;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

#email:focus {
    border-bottom: 3px solid #2196f3;
}

/*-------------- Grid3 Above --------------*/

/*-------------- Grid4 Below --------------*/

#grid4 {
    grid-row: 4;
    max-width: auto;
    height: 100vh;
    background-image: url(https://cdn.motor1.com/images/mgl/jJw8l/s3/tesla-model-s11-wallpaper-2-560-x-1-440.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.order-last {
    grid-column: 1;
    background: white;
}

.order-last-button {
    position: relative;
    width: max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.order-last-button a{
    color: rgb(88, 88, 88);
    font-size: 24px;
    font-weight: 600;
    border: 1px solid black;
}

.view-spec {
    position: relative;
    width: max-content;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -51%);
    font-weight: 100;
}

.view-spec a{
    color: rgb(122, 121, 121);
    transition: 500ms ease;
}

.view-spec a:hover {
    color: black;
    text-decoration: none;
}

.order-last-button a:hover, .order-last-button a:focus {
    box-shadow: none;
    background: transparent;
    color: black;
    border: none;
}


/*-------------- Grid4 Above --------------*/

/*-------------- Grid5 Below --------------*/

#grid5 {
    grid-row: 5;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Open Sans', serif;
}

#about-tesla {
    background: transparent;
    position: relative;
    margin-top: -10%;
}

.about-info {
    grid-column: 1;
}

.about-info h2 {
    padding-bottom: 0.5rem;
}

.about-info p {
    text-indent: 4rem;
}

.about-info p, .about-info h2 {
    margin-left: 5rem;
    margin-right: 2rem;
    line-height: 2;
    text-align: justify;
}

.tesla-logo {
    grid-column: 2;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e8/Tesla_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 2rem;
    width: 70%;
    height: 100%;
}
/*-------------- Grid5 Above --------------*/

/*-------------- Footer Below --------------*/

footer {
    height: 10vh;
    background: var(--nav-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}

.copyright {
    grid-column: 1/3;
    margin: auto;
}

#contact {
    grid-column: 3/4;
    margin: auto;
}

#contact a {
    text-decoration: none; 
    color: white;
    padding: 0.3rem;
}


/*-------------- Footer Above --------------*/

/*-------------- Grid @media Below --------------*/

@media only screen and (max-width: 1050px) {
    #grid3 {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .vid-container {
        grid-row: 1;
    }

    #video-div {
        margin-bottom: 5rem;
    }

    #video {
        height: 450px;
    }

    .pricing-container {
        grid-row: 2;
        grid-column: 1;
        padding-top: 5rem;
    }

    #pricing-long-range, #pricing-plaid {
        margin-bottom: 5%;
        transform: translateY(-10%);
    }

    #email-div {
        padding-bottom: 5vh;
    }
}

@media only screen and (max-width: 760px) {
    /* Grid 1 START */
    #grid1 {
        max-height: 85vh;
        width: auto;
    }

    #tesla-s-title {
        grid-row: 1;
        padding-top: 2rem;
    }
    
    .motto-s {
        grid-row: 5;
    }

    .motto-s p {
        margin-left: 20vw;
    }
    /* Grid 1 END */

    /* Grid 2 START */
    .g2-r1c1 {
        grid-column: 1/3;
    }

    .g2-r1c2 {
        grid-column: 3/5;
    }

    .g2-r1c3 {
        grid-column: 1/3;
        grid-row: 2;
    }

    .g2-r1c4 {
        grid-column: 3/5;
        grid-row: 2;
    }
    /* Grid 2 END */

    /* Grid 4 START */
    #grid4 {
        grid-template-columns: fr;
        grid-template-rows: 4fr 1.2fr;
    }

    .order-last {
        grid-column: 1;
        grid-row: 2;
        width: 100vw;
    }

    .order-last-button a {
        font-size: 1.2em;
    }

    .view-spec {
        margin-top: -2%;
    }

    .view-spec a {
        font-size: 0.8rem;
    }
    /* Grid 4 End */

    /* Grid 5 START */
    #grid5 {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr;
    }

    .about-info {
        grid-row: 2;
        margin-right: 5vw;
    }

    .tesla-logo {
        grid-row: 1;
        grid-column: 1;
        margin-left: auto;
        margin-right: auto;
        max-height: 80%;
    }

}

@media only screen and (max-width: 600px){
    /* Grid 3 START */
    #grid3 {
        height: 100%;
    }

    .pricing-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1.5fr 1fr;
    }

    #pricing-long-range {
        grid-column: 1;
        grid-row: 1;
    }

    #pricing-plaid {
        grid-column: 1;
        grid-row: 2;
    }

    #email-div {
        grid-row: 3;
    }

    .email-title-div {
        text-align: center;
        line-height: 1.5;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid silver;
        font-size: 22px;
    }

    .email-title {
        border-bottom: none;
    }

    .email-input-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #email{
        grid-row: 1;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 70%;
    }

    #submit {
        grid-row: 2;
        width: fit-content;
        margin: auto;

    }
    /* Grid 3 END */

    /* Grid 5 START */
    #grid5 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
    }

    .about-info p, .about-info h2 {
        margin-left: 2rem;
        margin-right: 1rem;
    }

    .about-info h2 {
        text-align: center;
    }

    .tesla-logo {
        max-height: 80%;
    }


}


@media only screen and (max-width: 375px) {
    /* Grid 1 START */
    .grid-wrapper-1 {
        background-image: url(https://res.cloudinary.com/dd07dy9m5/image/upload/v1623921857/tesla_model_s_tesla_car_142847_3200x4000_o2eszl.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
        object-fit:fill;
    }

    #tesla-s-title {
        color: rgb(165, 14, 14);
        margin-top: 2em;
    }

    .motto-s p{
        margin-left: 15vw;
    }
    /* Grid 1 END */

    /* Grid 3 START */
    .vid-title {
        margin-top: 2rem;
        text-align: center;
        font-size: 20px;
    }

    #video {
        height: 100%;
    }

    .email-title-div {
        margin-right: 10%;
        margin-left: 10%;
        padding-bottom: 1rem;
        border-bottom: 1px solid silver;
    }

    .email-title {
        text-align: center;
        font-size: 20px;
        border-bottom: none;
    }
    /* Grid 3 END */


}

/*-------------- Grid @media Above --------------*/